body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

body > * > * {
  max-width: 50%;
}

.top {
  align-items: center;
  background-color: #1f2937;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  width: 100vw;
}

.top-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.menu > ul {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
}

.menu > ul > li {
  color: #e5e7eb;
  font-size: 18px;
}

.top-content {
  display: flex;
  margin: auto;
}

.top-content .content-header {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.top-content .content {
  color: #e5e7eb;
  font-size: 18px;
}

.top-content button {
  background-color: #3882f6;
  border-radius: 5px;
  color: #e5e7eb;
  margin-top: 10px;
  padding: 7px 20px;
}

.top-content > .image {
  flex: 1 0 400px;
  background-color: grey;
}
